:root {
    --background: #15191D;
    --dark-background: #101113;
    --border: #38393D;
    --active: #323842;
}

html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: monospace;
}

* {
    box-sizing: border-box;
}

#root {
    display: flex;
}

.left {
    padding: 20px;
    background-color: var(--dark-background);
    border-right: 2px solid var(--border);
    user-select: none;
}

.window-button-container {
    font-size: 14px;
    text-align: center;
    border: 2px solid var(--border);
    border-radius: 8px;
    overflow: hidden;
}

.window-button {
    padding: 8px;
    cursor: pointer;
}

.window-button.code-button {
    color: var(--pink);
    border-bottom: 2px solid var(--border);
}

.window-button.diagram-button {
    color: var(--orange);
}

.window-button-active {
    background-color: var(--background);
}